.add-cards-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .add-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
