* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  margin: 0;
}

.navbar {
  background-color: #80b3ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  height: 50px;
}

#site-name {
  margin: 0 0 0 10px;
  flex-grow: 1;
  font-weight: 600;
  font-size: 2em;
}

.navbar-link {
  flex-grow: 0;
  /* height: 40px; */
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  align-items: flex-start;
}

.navbar-link:hover {
  /* background-color: rgba(0, 102, 255, 75%); */
  text-decoration: underline;
}
